@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "tailwindcss";

@theme {
  --font-bebas: "Bebas Neue", sans-serif;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: #212121;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Langing page button */

.custom-glow-btn {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);

  color: var(--glow-color);
  background-color: var(--btn-color);
  border-color: var(--glow-color);
  box-shadow:
    0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  outline: none;
}

.custom-glow-btn::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.custom-glow-btn:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow:
    0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.custom-glow-btn:active {
  box-shadow:
    0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

/* Main page buttons */

/* From Uiverse.io by adamgiebl */ 
.simpleButton {
  --purple: #9B7EDA;
  font-size: 18px;
  padding: 0.5em 1.5em;
  letter-spacing: 0.08em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--purple);
  background: linear-gradient(to right, rgba(155, 126, 218, 0.1) 1%, transparent 40%, transparent 60%, rgba(155, 126, 218, 0.1) 100%);
  color: var(--purple);
  box-shadow: inset 0 0 10px rgba(155, 126, 218, 0.4), 0 0 9px 3px rgba(155, 126, 218, 0.1);
}

.simpleButton:hover {
  color: #BFA3F3;
  box-shadow: inset 0 0 10px rgba(155, 126, 218, 0.6), 0 0 9px 3px rgba(155, 126, 218, 0.2);
  cursor: pointer;
}

.simpleButton:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(155, 126, 218, 0.1) 40%, rgba(155, 126, 218, 0.1) 60%, transparent 100%);
}

.simpleButton:hover:before {
  transform: translateX(15em);
}

/* Files card */

.card1 {
  background-color: #141414;
  width: 250px;
  height: 280px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  box-shadow: 2px 2px 19px;
  padding: 20px;
  text-align: start;
}

.card1::before {
  content: "";
  position: absolute;
  z-index: -19;
  width: 262px;
  height: 296px;
  margin: auto;
  background: rgb(4,0,255);
  background: linear-gradient(135deg, rgba(4,0,255,1) 0%, rgba(136,0,255,1) 35%, rgba(209,0,255,1) 100%);
  border-radius: 6px;
}

.card1::after {
  content: "";
  position: absolute;
  z-index: -19;
  width: 262px;
  height: 296px;
  margin: auto;
  background: rgb(4,0,255);
  background: linear-gradient(135deg, rgba(4,0,255,1) 0%, rgba(136,0,255,1) 35%, rgba(209,0,255,1) 100%);
  border-radius: 6px;
  filter: blur(5px);
  transition: 2s;
}

.card1:hover::after {
  animation: cardafter 2.5s infinite forwards;
}

@keyframes cardafter {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/* From Uiverse.io by csozidev */ 
/* glowing hover card made by: csozi | Website: english.csozi.hu*/
/* 
.card {
  position: relative;
  text-align: start;
  padding: 15px;
  width: 250px;
  height: 300px;
  background: rgb(255, 0, 179);
  background: linear-gradient(137deg, rgb(255, 0, 179) 0%, rgba(0,212,255,1) 100%);
  transition: 0.3s ease;
  border-radius: 30px;
  filter: drop-shadow(0px 0px 30px rgba(209, 38, 197, 0.5));
}

.card::after {
  content: '';
  background-color: #181818;
  position: absolute;
  z-index: 1;
  transition: 0.3s ease;
  height: 98%;
  width: 98%;
  top: 1%;
  left: 1%;
  border-radius: 28px;
}

.card:hover {
  filter: drop-shadow(0px 0px 30px rgba(209, 38, 197, 1));
} */

/* Favorite Star Effect */

/* Normal button state */
.star-button {
  transition: all 0.3s ease;
}

/* Hover state for neon purple glow */
.star-button:hover {
  filter: drop-shadow(0 0 10px rgba(155, 48, 255, 2));/* Neon purple glow */
}

/* Active state for the filled purple button */
.star-button.active {
  filter: brightness(1.2) drop-shadow(0 0 10px rgba(155, 48, 255, 0.8)); /* Makes the button a bit brighter when clicked */
}

/* Optional: add a smooth transition when switching between the button states */
.star-button img {
  transition: all 0.2s ease;
}